:root[data-theme="kodama"] {
  --background: hsl(45 49% 79%);
  --foreground: hsl(26 19% 30%);
  --card: hsl(42 45% 83%);
  --card-foreground: hsl(26 19% 30%);
  --popover: hsl(44 58% 89%);
  --popover-foreground: hsl(26 19% 30%);
  --primary: hsl(72 33% 46%);
  --primary-foreground: hsl(43 64% 98%);
  --secondary: hsl(45 48% 75%);
  --secondary-foreground: hsl(26 19% 30%);
  --muted: hsl(45 48% 75%);
  --muted-foreground: hsl(27 11% 47%);
  --accent: hsl(44 50% 72%);
  --accent-foreground: hsl(26 19% 30%);
  --destructive: hsl(9 54% 67%);
  --border: hsl(26 24% 60%);
  --input: hsl(44 50% 72%);
  --ring: hsl(92 19% 62%);
  --chart-1: hsl(92 19% 62%);
  --chart-2: hsl(95 16% 55%);
  --chart-3: hsl(103 16% 75%);
  --chart-4: hsl(104 11% 47%);
  --chart-5: hsl(104 11% 39%);
  --sidebar: hsl(44 52% 76%);
  --sidebar-foreground: hsl(26 19% 30%);
  --sidebar-primary: hsl(92 19% 62%);
  --sidebar-primary-foreground: hsl(43 64% 98%);
  --sidebar-accent: hsl(42 29% 88%);
  --sidebar-accent-foreground: hsl(26 19% 30%);
  --sidebar-border: hsl(42 25% 86%);
  --sidebar-ring: hsl(92 19% 62%);

  --font-sans: Merriweather, serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;

  --radius: 1.4rem;

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  --spacing: 0.25rem;
}

.dark[data-theme="kodama"] {
  --background: hsl(42 17% 19%);
  --foreground: hsl(38 41% 88%);
  --card: hsl(39 12% 23%);
  --card-foreground: hsl(38 41% 88%);
  --popover: hsl(39 12% 23%);
  --popover-foreground: hsl(38 41% 88%);
  --primary: hsl(95 16% 55%);
  --primary-foreground: hsl(27 12% 15%);
  --secondary: hsl(40 13% 31%);
  --secondary-foreground: hsl(38 41% 88%);
  --muted: hsl(39 13% 26%);
  --muted-foreground: hsl(33 9% 62%);
  --accent: hsl(44 27% 50%);
  --accent-foreground: hsl(27 12% 15%);
  --destructive: hsl(10 34% 56%);
  --border: hsl(40 13% 31%);
  --input: hsl(40 13% 31%);
  --ring: hsl(95 16% 55%);
  --chart-1: hsl(95 16% 55%);
  --chart-2: hsl(92 19% 62%);
  --chart-3: hsl(104 11% 47%);
  --chart-4: hsl(44 27% 50%);
  --chart-5: hsl(104 11% 39%);
  --sidebar: hsl(42 17% 19%);
  --sidebar-foreground: hsl(38 41% 88%);
  --sidebar-primary: hsl(95 16% 55%);
  --sidebar-primary-foreground: hsl(27 12% 15%);
  --sidebar-accent: hsl(44 27% 50%);
  --sidebar-accent-foreground: hsl(27 12% 15%);
  --sidebar-border: hsl(40 13% 31%);
  --sidebar-ring: hsl(95 16% 55%);

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
