:root[data-theme="twitter"] {
  --background: hsl(0 0% 100%);
  --foreground: hsl(210 25% 8%);
  --card: hsl(180 7% 97%);
  --card-foreground: hsl(210 25% 8%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(210 25% 8%);
  --primary: hsl(204 88% 53%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(210 25% 8%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(240 2% 90%);
  --muted-foreground: hsl(210 25% 8%);
  --accent: hsl(212 51% 93%);
  --accent-foreground: hsl(204 88% 53%);
  --destructive: hsl(356 91% 54%);
  --border: hsl(201 30% 91%);
  --input: hsl(200 23% 97%);
  --ring: hsl(203 89% 53%);
  --chart-1: hsl(204 88% 53%);
  --chart-2: hsl(160 100% 36%);
  --chart-3: hsl(42 93% 56%);
  --chart-4: hsl(147 79% 42%);
  --chart-5: hsl(341 75% 51%);
  --sidebar: hsl(180 7% 97%);
  --sidebar-foreground: hsl(210 25% 8%);
  --sidebar-primary: hsl(204 88% 53%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(212 51% 93%);
  --sidebar-accent-foreground: hsl(204 88% 53%);
  --sidebar-border: hsl(205 25% 91%);
  --sidebar-ring: hsl(203 89% 53%);

  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;

  --radius: 1.4rem;

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  --spacing: 0.25rem;
}

.dark[data-theme="twitter"] {
  --background: hsl(0 0% 0%);
  --foreground: hsl(200 7% 91%);
  --card: hsl(228 10% 10%);
  --card-foreground: hsl(0 0% 85%);
  --popover: hsl(0 0% 0%);
  --popover-foreground: hsl(200 7% 91%);
  --primary: hsl(204 88% 53%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(195 15% 95%);
  --secondary-foreground: hsl(210 25% 8%);
  --muted: hsl(0 0% 9%);
  --muted-foreground: hsl(210 3% 46%);
  --accent: hsl(206 70% 8%);
  --accent-foreground: hsl(204 88% 53%);
  --destructive: hsl(356 91% 54%);
  --border: hsl(210 5% 15%);
  --input: hsl(208 28% 18%);
  --ring: hsl(203 89% 53%);
  --chart-1: hsl(204 88% 53%);
  --chart-2: hsl(160 100% 36%);
  --chart-3: hsl(42 93% 56%);
  --chart-4: hsl(147 79% 42%);
  --chart-5: hsl(341 75% 51%);
  --sidebar: hsl(228 10% 10%);
  --sidebar-foreground: hsl(0 0% 85%);
  --sidebar-primary: hsl(203 89% 53%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(206 70% 8%);
  --sidebar-accent-foreground: hsl(204 88% 53%);
  --sidebar-border: hsl(206 16% 26%);
  --sidebar-ring: hsl(203 89% 53%);

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
